<a href="https://colab.research.google.com/github/Kanyatte/Kanyatte-Week-3/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Kanyatte_Macharia_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#This imports the pandas library
import pandas as pd
#This imports the numpy library
import numpy as np

In [23]:
#This will read the link 'http://bit.ly/autolib_dataset' as a csv file and later load it into a datatframe
url = 'http://bit.ly/autolib_dataset'
autolib = pd.read_csv(url, delimiter=',')
autolib_df = pd.DataFrame(autolib)
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [18]:
#This code acceses the information in our dataset with regard to the number of values that are not null in the columns as well as the
#datatype for each column 
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
 25  CUM DIFF             4999 non-null   float64
dtypes: float64(1), int64(12), object(13)
memory usage: 1015.8+ KB

In [24]:
#This drops some of the columns that are not required in analysis, columns that are similar to each other and columns which are 
#similar in all records i.e The year and month are 2018 and 4 throughout
autolib_df.drop(["Displayed comment", "Scheduled at", "ID", "Geo point", "Address", "year", "month"], axis=1, inplace=True)
autolib_df

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[5000 rows x 18 columns]

In [54]:
#This renames the columns which had white spaces between words by replacing the white spaces with an underscore
autolib_df.rename(columns={'Bluecar counter': 'Bluecar_counter', 'Utilib counter': 'Utilib_counter', 'Utilib 1.4 counter': 'Utilib_1.4_counter', 'Charge Slots': 'Charge_Slots', 'Charging Status': 'Charging_Status', 'Postal code': 'Postal_code', 'Public name': 'Public_name', 'Rental status': 'Rental_status', 'Station type': 'Station_type', 'Subscription status': 'Subscription_status'}, inplace=True)
autolib_df

      Cars  Bluecar_counter  Utilib_counter  ...  day  hour minute
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[5000 rows x 18 columns]

In [55]:
#This code is run to ensure the data is complete by checking for any null values that may be present in each column
autolib_df.isnull().any()

Cars                   False
Bluecar_counter        False
Utilib_counter         False
Utilib_1.4_counter     False
Charge_Slots           False
Charging_Status        False
City                   False
Kind                   False
Postal_code            False
Public_name            False
Rental_status          False
Slots                  False
Station_type           False
Status                 False
Subscription_status    False
day                    False
hour                   False
minute                 False
dtype: bool

In [56]:
#This is to drop any duplicates that may be present in the data to improve its consistency
autolib_df.drop_duplicates()
autolib_df

      Cars  Bluecar_counter  Utilib_counter  ...  day  hour minute
0        0                0               0  ...    8    11     43
1        6                6               0  ...    6     7     24
2        3                3               0  ...    3    20     14
3        3                3               1  ...    4     4     37
4        3                3               0  ...    8    17     23
...    ...              ...             ...  ...  ...   ...    ...
4995     2                2               0  ...    6    11     26
4996     4                4               0  ...    4    16     56
4997     1                1               0  ...    1     7      1
4998     2                2               0  ...    4    17     27
4999     4                4               0  ...    8    10      2

[5000 rows x 18 columns]

In [59]:
#This will sort the data by the 'Public name' then by 'day' followed by 'hour' and finally 'minute'. This enables one to track 
#what happened in a station within the first nine days of April i.e. whether a car was picked, returned or nothing happened
# A car is returned if the value of the counter increases from the initial value to the next in the same station
# A car is rented out/picked if the value of the counter decreases from the initial value to the next in the same station
auto_sort = autolib_df.sort_values(by=['Public_name', 'day', 'hour', 'minute'],ascending=[True,True,True,True])
auto_sort

      Cars  Bluecar_counter  Utilib_counter  ...  day  hour minute
1352     0                0               0  ...    2    19     28
4528     0                0               0  ...    4     9      5
4880     0                0               0  ...    7    18     40
1693     0                0               0  ...    9     9      1
4424     2                2               0  ...    1     0     36
...    ...              ...             ...  ...  ...   ...    ...
3426     5                5               0  ...    7     8     34
1931     1                1               1  ...    9     8     55
633      1                1               0  ...    9    17     39
1592     2                2               0  ...    1    23     43
2250     3                3               0  ...    4     8     13

[5000 rows x 18 columns]

In [86]:
#This code groups the cumulative difference by the station so as to know if a car is picked, returned or nothing happened
#If the cumulative difference is '0' or 'Nan', nothing happened
#If it is less than 0, the negative number displays the number of cars rented out
#If it is greater than 0, the positive number shows the the number of cars returned to the station
auto_sort['Cum_Diff_Bluecar'] = auto_sort['Bluecar_counter'].groupby(auto_sort['Public_name']).diff(1)
auto_sort['Cum_Diff_Utilib'] = auto_sort['Utilib_counter'].groupby(auto_sort['Public_name']).diff(1)
auto_sort['Cum_Diff_Utilib_1.4'] = auto_sort['Utilib_1.4_counter'].groupby(auto_sort['Public_name']).diff(1)
auto_sort

      Cars  Bluecar_counter  ...  Cum_Diff_Utilib  Cum_Diff_Utilib_1.4
1352     0                0  ...              NaN                  NaN
4528     0                0  ...              0.0                  0.0
4880     0                0  ...              0.0                  0.0
1693     0                0  ...              0.0                  0.0
4424     2                2  ...              NaN                  NaN
...    ...              ...  ...              ...                  ...
3426     5                5  ...             -1.0                  0.0
1931     1                1  ...              1.0                  0.0
633      1                1  ...             -1.0                  0.0
1592     2                2  ...              NaN                  NaN
2250     3                3  ...              0.0                  0.0

[5000 rows x 21 columns]

In [87]:
#This code will replace the Nan values in the 'Cum_Diff_Bluecar', 'Cum_Diff_Utilib' and 'Cum_Diff_Utilib_1.4' columns  with '0.0'
auto_sort['Cum_Diff_Bluecar'].fillna(0.0, inplace=True)
auto_sort['Cum_Diff_Utilib'].fillna(0.0, inplace=True)
auto_sort['Cum_Diff_Utilib_1.4'].fillna(0.0, inplace=True)
auto_sort

      Cars  Bluecar_counter  ...  Cum_Diff_Utilib  Cum_Diff_Utilib_1.4
1352     0                0  ...              0.0                  0.0
4528     0                0  ...              0.0                  0.0
4880     0                0  ...              0.0                  0.0
1693     0                0  ...              0.0                  0.0
4424     2                2  ...              0.0                  0.0
...    ...              ...  ...              ...                  ...
3426     5                5  ...             -1.0                  0.0
1931     1                1  ...              1.0                  0.0
633      1                1  ...             -1.0                  0.0
1592     2                2  ...              0.0                  0.0
2250     3                3  ...              0.0                  0.0

[5000 rows x 21 columns]

In [129]:
#This code identifies the most popular hour of the day for picking a bluecar in Paris over April 2018
auto_sort[(auto_sort['City'] == 'Paris') & (auto_sort['Cum_Diff_Bluecar']<0)]['hour'].value_counts().idxmax()

21

In [127]:
#This code indentifies most popular hour for returning cars
auto_sort[(auto_sort['Cum_Diff_Bluecar']>0)]['hour'].value_counts().idxmax()

21

In [105]:
#This code identifies the most popular station in the entire company
most_popular_station = auto_sort['Public_name'].value_counts().idxmax()
most_popular_station

'Paris/Porte de Montrouge/8'

In [133]:
#This code identifies the most popular station at the most popular picking hour
auto_sort[(auto_sort['hour'] == 21)]['Public_name'].value_counts().idxmax()

'Paris/Tronchet/19'

In [130]:
#This identifies the most popular postal code for picking up blue cars
most_popular_code_for_picking_blue = auto_sort[(auto_sort['Cum_Diff_Bluecar']<0)]['Postal_code'].value_counts().idxmax()
most_popular_code_for_picking_blue

75015

In [132]:
#This code determines whether the most popular station belongs to the most popular postal code for picking blue cars
if 'Public_name' == most_popular_station and 'Postal_Code' == most_popular_code_for_picking_blue:
  print("The most popular station belongs to the most popular postal code for picking blue cars")
else:
  print("The most popular station does not belong to the most popular postal code for picking blue cars")

The most popular station does not belong to the most popular postal code for picking blue cars